/* ------------------Put your custom code here--------------------*/

.control-label {font-weight: bold;}
form .control-group:last-child {margin-bottom: 0;}
form .control-group .controls-row {	margin-bottom: 5px;}
form .control-group .controls-row textarea {margin-bottom: 15px;}
form .control-group .controls-row .btn.special {margin-left: 10px;}

@media only screen and (max-width: 1360px) {
    /* ------------------ Form styles --------------------*/
    [class*="span6"] form .control-group .control-label {width: 120px;}
    [class*="span6"] form .control-group .controls {margin-left: 150px;}
}

@media only screen and (max-width: 1280px) {
    /* ------------------ Form styles --------------------*/
    [class*="span6"] form .control-group .control-label {width: 100%; text-align: left;margin-bottom: 5px;}
    [class*="span6"] form .control-group .controls {margin-left: 0;}
    [class*="span6"] form .control-group {margin-bottom: 10px;}
    [class*="span6"] form .form-actions {padding-left: 20px;}
}

@media only screen and (max-width: 767px) {
    /* ------------------ Form styles--------------------*/
    form .control-group [class*="span"] {margin-bottom: 10px !important;}
    form .control-group .control-label {width: 100%; text-align: left;margin-bottom: 5px;}
    form .control-group .controls {margin-left: 0;}
    form .control-group {margin-bottom: 10px;}
    form .form-actions {padding-left: 20px;}
    form .control-group .controls-row [class*="span"] {margin-left: 0 !important;}
    form .control-group .controls-row .btn.special {margin-left: 0px;}
}

#mainContainer {
    padding:		0 !important; /* override Layout default of '0' */
    /* set min dimensions for layout - window will scroll if smaller than this */
    min-height:		700px;
    /* max-width works for left-aligned layout - need a container-div to 'center' the layout */
    /*max-width:		1000px;*/
}


/*
 *	TAB CLASSES - STRUCTURAL, REQUIRED
 */
DIV#tabContainer { /* page-wrapper - used ONLY to 'wrap' tabButtons and tabPanels */
    position:	static	!important; /* overide UI Theme - prevent from becoming a positional wrapper */
    padding: 0;
    overflow: hidden;
}
UL#tabButtons ,
DIV#tabPanels {
    margin:		0 !important; /* layout-panes should never have margins */
    padding: 0;
    overflow: hidden;
}

/* custom css */
.heading .ui-tabs {
}

.heading .ui-tabs .ui-tabs-nav > li {
    height: 3em;
}

.heading .ui-tabs li a {
    padding: 0.8em 0.3em 1em 1em;
    font-weight: bolder;
}

.heading .ui-tabs li ul{
    float: left;
    padding-left: 1px;
    width: 20px;
}

.heading .ui-tabs li ul li {
    float: none;
}

.heading .ui-tabs li ul li b {
    cursor: pointer;
    float: left;
    margin: 2px;

}

.heading .ui-tabs li ul.single-li li b {
    margin-top: 0.9em;
}

.heading .ui-tabs .ui-tabs-active {
    background: snow;
}

.contentwrapper {
    padding-top: 60px;
}
